html {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body a {
    text-decoration: none;
}
.hero {
    background-image: url(Images/Rectangle\ 36.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding-top: 50px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
.logo {
    width: 100px;
    height: 25px;
}
.nav1 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav1 a {
    color: #D9D9D9;
}
.nav2 {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
}
.nav2 a {
    color: #D9D9D9;
}
.hero2 {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: center;
}
.hero2 p {
    width: 600px;
}
.hero2 button {
    background: transparent;
    border: 1px solid #D9D9D9;
    color: #ffffff;
    width: 150px;
    height: 50px;
    font-size: 16px;
    margin-top: 50px;
}
.hero2 button:hover {
    color: black;
    background: white;
    border: 1px solid #000000;
}

.section2 {
    /* padding-left: 50px;
    padding-right: 50px; */
    margin-left: 50px;
    margin-right: 50px;
}
.section2 h2 {
    padding-top: 50px;
    padding-bottom: 30px;

}
.sub-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.name-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.name {
    font-size: 16px;
}
.price {
    font-weight: bolder;
    font-size: 18px;
}
.stars {
    padding-bottom: 10px;
}
.buy-cart {
    display: flex;
    gap: 20px;
}
.buy {
    background: #000000;
    border: 1px solid #D9D9D9;
    color: #ffffff;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.buy:hover {
    color: black;
    background: white;
    border: 1px solid #000000;
}
.add2cart {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.add2cart:hover {
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
}

.section3 {
    background-image: url(Images/Rectangle\ 56.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;

}
.section3 div {
    padding-top: 80px;
    padding-left: 100px;
}
.style-div {
    color: #ffffff;
}
.style-div .style {
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
    width: 550px;
    padding-bottom: 10px;
}
.section3 p {
    font-size: 20px;
}
.style-div button {
    background: transparent;
    border: 1px solid #D9D9D9;
    color: #ffffff;
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}

.section4 {
    background-image: url(Images/image\ 35.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section4 .style-div {
    display: flex;
    flex-direction: column;
    float: right;
    padding-top: 100px;
}
.section4 .style {
    width: 600px;
}

.section5 {
    background-image: url(Images/Rectangle\ 87.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}
.section5 div {
    padding-top: 80px;
    padding-left: 100px;
}

.footer1 {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    gap: 200px;
}
.about-div {
    display: flex;
    flex-direction: column;
}
.about-div p {
    padding-bottom: 30px;
    font-weight: bolder;
}
.about-div a {
    padding-bottom: 20px;
    color: #000000;
}
.about-div a:hover {
    text-decoration: underline;
    color: grey;
}
.footer2 {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo2-div {
    display: flex;
    align-items: center;
    gap: 30px;
}
.socials-div {
    display: flex;
    gap: 40px;
}
.socials-div i {
    color: #000000;
    font-size: 20px;
}







@media (max-width: 1024px) {
    .hero {
        height: 500px;
        }
    .images-displayed {
        width: 450px;
    }
}

@media (max-width: 920px) {
    .nav {
        font-size: 15px;
    }
    .hero {
        height: 450px;
    }
    .hero2 p {
        font-size: 45px;
    }
    .images-displayed {
        width: 400px;
    }
    .name {
        font-size: 12px;
    }
    .buy {
        width: 100px;
        height: 30px;
    }
    .add2cart {
        width: 100px;
        height: 30px;
    }
    .style-div .style {
        font-size: 40px;
    }
    .footer1 {
        gap: 80px;
    }
}

@media (max-width: 768px) {
    .images-displayed {
        width: 320px;
    }
    .style-div .style {
        font-size: 35px;
    }

}

@media (max-width: 680px) {
    .footer2 {
        gap: 20px;
        flex-direction: column;
    }
}

@media (max-width: 635px) {
    .footer2 {
        gap: 20px;
        flex-direction: column;
    }
}


@media (max-width: 620px) {
    .hero {
        height: 400px;
    }
    .hero p {
        font-size: 35px;
    }
    .hero2 button {
        margin-top: 20px;
    }
    .nav1 {
        gap: 20px;
    }
    .menu {
        gap: 10px;
    }
    .images-displayed {
        width: 200px;
    }
    .section3, .section4, .section5 {
        height: 300px;
    }
    .section3 .style-div {
        padding-top: 10px;
        padding-left: 50px;
    }
    .section4 .style-div {
        padding-top: 10px;
        
    }
    .section4 .style {
        width: 450px;
    }
    .section5 .style-div {
        padding-top: 10px;
        padding-left: 50px;
    }
    .socials-div {
        gap: 20px;
    }
}

@media (max-width: 520px) {
   .hero {
    width: 102vw;
   }
   .hero2 p {
    font-size: 30px;
   }
   .nav1 {
    gap: 50px;
   }
   .nav2 {
    gap: 20px;
   }
   .section3, .section4, .section5 {
    width: 104vw;
   }
   .sub {
    width: 80vw;
   }
   .buy {
    width: 80px;
    font-size: 12px;
   }
   .add2cart {
    width: 80px;
    font-size: 12px;
   }
   .footer1 {
    width: 60px;
   }
   .footer2 {
    width: 83vw;
   }
}

@media (max-width: 425px) {
    .hero {
        width: 140vw;
    }
    .nav1 {
        gap: 50px;
    }
    .section2 {
        width: 115vw;
    }
    .images-displayed {
        width: 350px;
    }
    .sub-sec {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .sub-sec button {
        margin-bottom: 10px;
    }
    .section3, .section4, .section5 {
        width: 140vw;
    }
    .footer2 {
        width: 117vw;
    }
}


@media (max-width: 375px) {
    .hero {
        width: 160vw;
    }
    .section2 {
        width: 130vw;
    }
    .section3,
    .section4,
    .section5 {
        width: 160vw;
    }

    .footer2 {
        width: 130vw;
    }
}

@media (max-width: 360px) {
    .hero {
        width: 170vw;
    }
    .images-displayed {
        width: 400px;
    }
    .section2 {
        margin-left: 0px;
    }
    .section2 {
        width: 130vw;
    }

    .section3,
    .section4,
    .section5 {
        width: 160vw;
    }

    .footer2 {
        width: 130vw;
    }
}

@media (max-width: 320px) {
    .hero {
        width: 187vw;
    }
    .section2 {
        width: 150vw;
    }

    .section3,
    .section4,
    .section5 {
        width: 187vw;
    }

    .footer2 {
        width: 150vw;
        flex-direction: column;
    }
    .logo2-div {
        margin-bottom: 20px;
    }
}









































